*{
    padding:0;
    margin:0;
}
body{
    background-image: url('tb_bg.jpg'); 
    background-repeat: repeat-y; 
    box-sizing: content-box;
    font-family: sans-serif;
}
.meniu{
    background-color: rgb(66, 14, 14);
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.meniu ul{
    display: inline-flex;
    list-style: none;
    color: rgb(255, 255, 255);
}
.meniu ul li{
    width:150px;
    height:50px;
    margin:15px;
    padding:15px;
    font-size: 28px;
}
.meniu ul li a{
    text-decoration: none;
    color: #fff;
}
.meniu ul li a img{
    padding:0px;
    height: 100%;
    width: 70px;
    margin-left: 40px;
}
.meniu ul li:hover{
    background-color:red;
    border-radius: 3px;
}

#main_body{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    background-color: black;
    color:white;
}
#main_body h1{
    color: whitesmoke;
    font-size: 30px; 
    text-align: center;
    padding:10px;
    align-items: center;
    background-color: black;
}
.container {
    background-color: black;
    margin-left: 300px;
    margin-right: 300px;
    padding: 60px 30px;
    border: 1px solid #721e1e;
    border-radius: 0px 0px 4px 4px;
    color:white;
}

img {
    align-self: flex-end;
    vertical-align: text-top;
    border-radius: 5%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    flex-wrap: wrap;
    padding-top: 1em;
}
.Scris{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0.5em;
    padding-bottom: 0.2em;

}
  
.continut{
    flex:3;
    color:white;
    background-color: black;
    word-wrap: break-word;
}

#footer{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    float: left;
}
#paragraf_footer_1{
    font-size: 15px;
    color:rgb(134, 134, 134);
    background-color: rgb(58, 58, 58);
}